<!doctype html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="js/theme.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/about.css">
  <script src="https://kit.fontawesome.com/f2178052c7.js" crossorigin="anonymous"></script>
  <script src="js/themeStyle.js"></script>
  <link rel="stylesheet" href="css/responsive.css" />
  <title>عن دكان</title>
  <link rel="icon" href="img/logo-main.png"/>
</head>
<body>
<div class="header" style="direction: rtl;"></div>
<main>
  <div class="container1">
    <div class="up">
      <div class="main1">
        <span style="color: var(--bold-text); font-size: 1.2rem;">الرئيسية/</span><span style="color: var(--color-main); font-size: 1.2rem;">عنا</span>
      </div>
      <div class="cont1">
        <h2 class="hd1">عن دكان</h2>
        <p>دكان هو متجر الكتروني تم انشائه عام٢٠٢٢ من قبل طلاب كلية </p>
        <p>الحاسبات والذكاء الاصطناعي بجامعة حلوان القاهرة الكبرى وتم انشائه</p>
        <p>كمشروع تجريبي  لمادة تكنولجيا المعلومات</p>
      </div>
      <div class="d-flex justify-content-center"><iframe class="bord1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2057.354487196504!2d31.313723939987707!3d29.863004120178758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458368becfaa68d%3A0xb8a6f7d9576f81f8!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiNin2YTYsNmD2KfYoSDYp9mE2KfYtdi32YbYp9i52YrYjCDYrNin2YXYudipINit2YTZiNin2YY!5e0!3m2!1sar!2seg!4v1652055937114!5m2!1sar!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
    <div class="down">
      <div class="cont2">
        <h2 class="hd1">فريق العمل</h2>
        <p>فريق عمل موقع دكان من طلاب كلية الحاسبات والذكاء الاصطناعي بجامعة</p>
        <p>حلوان بالقاهرة الكبرى</p>
      </div>
      <div class="contd">
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">علي علاء</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Ali_Alaa.jpg);
              "></div>
        </div>
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">عبدالله ياسر</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Abdullah_Yasser.jpg);
              "></div>
        </div>

        <div class="bord2">
          <div class="insbord21">
            <p class="co1">عبدالرحمن ياسر</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Abdulraman_Yasser.jpeg);
              "></div>
        </div>
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">عبدالرحمن مصطفى</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/abdelrahmanmostafa.png);
              "></div>
        </div>
      </div>
      <div class="contd">
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">عبدالله مصطفى</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Abdallah_Shamy.jpg);
              "></div>
        </div>
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">عمر اسامة</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Omar.jpg);
              "></div>
        </div>
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">على محمد</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Ali_Mohamed.jpeg);
              "></div>
        </div>
        <div class="bord2">
          <div class="insbord21">
            <p class="co1">علي عادل</p>
            <p class="co2">Front-end Developer</p>
          </div>
          <div class="insbord22" style="
                background-image: url(img/Ali_Adel.jpg);
              "></div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="footer" style="direction: rtl;"></div>
<script src="js/footer.js"></script>
<script src="js/header.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
