<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- حط ملف الcss بتاعك تحت الstyle.min  -->
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/about.css">
    <!-- غير اسم الصفحة اللي في الtitle  -->
    <title>عن دكان</title>

</head>
<body>
    <header>
        <!-- مكان الهيدر "سيبه فاضي دلوقتي" -->
    </header>
    <main>
      <div class="container">
        <div class="up">
            <div class="main1">
              <span style="color: var(--bold-text); font-size: 1.2rem;">الرئيسية/</span><span style="color: var(--color-main); font-size: 1.2rem;">عنا</span>
            </div>
          <div class="cont1">
            <h2 class="hd1">عن دكان</h2>
            <p>دكان هو متجر الكتروني تم انشائه عام٢٠٢٢ من قبل طلاب كلية </p>
            <p>الحاسبات والذكاء الاصطناعي بجامعة حلوان القاهرة الكبرى وتم انشائه</p>
            <p>كمشروع تجريبي  لمادة تكنولجيا المعلومات</p>
          </div>
          <div class="bord1">
          </div>
        </div>
        <div class="down">
          <div class="cont2">
            <h2 class="hd1">فريق العمل</h2>
            <p>فريق عمل موقع دكان من طلاب كلية الحاسبات والذكاء الاصطناعي بجامعة</p>
            <p>حلوان بالقاهرة الكبرى</p>
          </div>
          <div class="contd">
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">علي علاء</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">عبدالله ياسر</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdullah\ Yasser.jpg);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">عبدالرحمن مصطفى</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">عبدالرحمن ياسر</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(img/Abdulraman\ Yasser.jpeg);
              "></div>
            </div>
          </div>
          <div class="contd">
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">عبدالله مصطفى</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">عمر اسامة</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">على محمد</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
            <div class="bord2">
              <div class="insbord21">
                <p class="co1">علي عادل</p>
                <p class="co2">Front-end Developer</p>
              </div>
              <div class="insbord22" style="
                background-image: url(/img/Abdul\ Rahman\ moustafa.png);
              "></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
        <!-- مكان الفوتر "سيبه فاضي دلوقتي" -->
    </footer>
</body>
</html>
