<!doctype html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- حط ملف الcss بتاعك تحت الstyle.min  -->
    <script src="js/theme.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/blog.css">

    <script src="https://kit.fontawesome.com/f2178052c7.js" crossorigin="anonymous"></script>
    <script src="js/themeStyle.js"></script>
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="icon" href="img/logo-main.png"/>
    <!-- غير اسم الصفحة اللي في الtitle  -->
    <title>مدونة</title>

</head>
<body>
<div class="header">
    <!-- مكان الهيدر "سيبه فاضي دلوقتي" -->
</div>
<main>
    <section class="contenar">
        <div class="heading">
            <p class="address-hint">
                <a class="main" href="#"> الرئيسية</a> <span class="mod">/مدونة</span>
            </p>
        </div>
        <!-- ******************************************عنوان صفحة 9 الرئيسي*************************************** -->
        <div class="latest-blogs">
            <h2 class="centar" > مدونة </h2>
            <p class="under-manshit" >
                يمكنك متابعة احدث الاخبار والمدونات عن موقع دكان والمنتجات <br> التي بداخله
            </p>
        </div>
    </section>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <section class="big">
        <div class="right">
            <div class="title-pic">
                <h4 class="manshit">
                    <span>هونر تطرح</span>
                    <span>Honor Magic 4 Lite</span>
                    <span>بشكل رسمي في الخارج</span>
                </h4>
                <p class="under-title">
                        <span>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>12/4/2022</span>
                        </span>
                    <span>
                            <i class="fa-solid fa-user-large"></i>
                            <span>ادمن</span>
                        </span>
                    <span>
                            <i class="fa-solid fa-eye"></i>
                            <span>1325</span>
                        </span>
                </p>
                <img class="photo" src="img/blog-lg.png" alt="mobile-pic">
                <p class="dis">
                    <span>قامت شركة هونر في الخارج بشكل رسمي بالكشف عن هاتف</span>
                    <span>Honor Magic 4 Lite</span>
                    <span>الجديد كُليًا،</span>
                    <span>حيث أعلنت الشركة عن مواصفاته الكاملة في فرنسا، ويعتبر الهاتف هو نسخة من</span>
                    <span>Honor X9 5G</span>
                    <span>بدون إختلاف تقريبًا، وهذا بالرغم من أن</span>
                    <span>X9 5G</span>
                    <span>خرج عالميًا ومن المقرر ان يدخل الأسواق الأوروبية بإسمه</span>
                </p>
            </div>
            <br>
            <br>
            <div class="Specifications">
                <p class="bold" >مواصفات <span>Honor Magic 4 Lite :-</span></p>
                <ul>
                    <li><span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>أبعاد 166×75.8×8 مم مع وزن 189 جرام</li>
                    <li><span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>خامات الهاتف الخارجية تأتي من البلاستيك البولي كاربونيت</li>
                    <li>
                        <span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span>الهاتف يدعم تركيب شرحتين اتصال</span>
                        <span>5G</span>
                        <span>ولا يدعم تركيب كارت ميموري</span>
                    </li>
                    <li>
                        <span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span>شاشة من نوع</span>
                        <span>IPS LCD</span>
                        <span>بحجم 6.81 بوصة بدقة 1080×2388 بيكسل وبجودة</span>
                        <span>FHD+</span>
                        <span>مع كثافة بيكسلات 385 بيكسل لكل بوصة ومعدل تحديث 120 هيرتز</span>
                    </li>
                    <li>
                        <span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span>معالج كوالكوم سناب دراجون 695 ثماني النواة، الإثنين الأقوى من نوع</span>
                        <span> Kryo 660 Gold</span>
                        <span>بتردد 2.2 جيجا هيرتز، دقة تصنيع المعالج 6 نانو ميتر والمعالج الرسومي هو</span>
                        <span>Adreno 619</span>
                    </li>
                    <li>
                        <span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span>واجهة هونر</span>
                        <span> Magic UI 4.2</span>
                        <span>مبنية على</span>
                        <span> Android 11</span>
                    </li>
                    <li><span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>مساحة تخزين 128 جيجا مع 6 جيجا رام</li>
                    <li>
                        <span class="pen"><i class="fa-solid fa-pen-to-square"></i></span>
                        <span>الذاكرة الداخلية نوعها</span>
                        <span> UFS 2.2</span>
                        <span>والرامات من نوع</span>
                        <span>LPDDR4X</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="left">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <input class="search" type="search" placeholder="ابحث هنا">
                    </div>
                </div>
                <div class="col-12">
                    <div class="for-scroll">
                        <div class="categories">
                            <div class="title">
                                <h2>اظهر جميع الفئات</h2>
                            </div>
                            <h3 class="title-2">موبايلات & تابلت  (43)</h3>

                            <h3>موبايل (12)</h3>

                            <a href="#">
                                <p>ابل (4)</p>
                                <p>  هواوي (2)</p>
                                <p> اونر (1)</p>
                                <p>اوبو (3)</p>
                                <p>شاومي (2)</p>
                            </a>

                            <h4>تابلت (23)</h4>

                            <a href="#">
                                <p>ابل (4)</p>
                                <p> هواوي (2)</p>
                                <p>  اوبو (3)</p>
                                <p> شاومي (2)</p>
                            </a>

                            <h4>اكسسوارات (10)</h4>

                            <a href="#">
                                <p>جراب (4)</p>
                                <p>سماعات (3)</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="footer">

</div>
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
