<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>dokan.com</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/f2178052c7.js" crossorigin="anonymous"></script>
</head>

<body>

<section class="contenar">
  <div class="heading">
    <p class="address-hint">
      <a class="main" href="#الرئيسية"> الرئيسية</a> <span class="mod">/أحدث المدونات</span>
    </p>
  </div>
  <!-- ********************عنوان صفحة 8 الرئيسي*************************************** -->
  <div class="latest-blogs">
    <h2 class="centar" > أحدث المدونات </h2>
    <p class="under-manshit" >
      يمكنك متابعة احدث الاخبار والمدونات عن موقع دكان والمنتجات <br> التي بداخله
    </p>
  </div>
</section>

<!-- ******************************المنتجات******************************************* -->
<section class="prodacts">
  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <div class="right">
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog2.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>اطلاق هواتف </span>
        <span>HONOR X9 4G</span>
        <span>و</span>
        <span>HONOR X7</span>
        <span>بشكل رسمي</span>
      </h4>

      <p class="blog-dis">
        <span>أعلنت شركة هونر في ماليزيا بشكل رسمي عن تقديم هواتف جديدة من سلسلة الـ </span>
        <span> X</span>
        <span> المتوسطة حيث أطلقت الشركة</span>
        <span> HONOR X7</span>
        <span>والذي يأتي بفروقات بسيطة عن </span>
        <span> HONOR X8</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
    <!-- ****************************************************************** -->
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog3.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>هونر تطرح </span>
        <span>HONOR MAGIC 4 LITE </span>
        <span>بشكل رسمي في الخارج</span>
      </h4>

      <p class="blog-dis">
        <span>قامت شركة هونر في الخارج بشكل رسمي بالكشف عن هاتف </span>
        <span>HONOR MAGIC 4 LITE </span>
        <span>الجديد كليا حيث أعلنت الشركة عن مواصفاته الكاملة في فرنسا</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
    <!-- ******************************************************************** -->
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog1.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>كشف الستار عن </span>
        <span>SAMSUNG GALAXY M53 5G </span>
        <span>بشكل رسمي في الخارج </span>
      </h4>

      <p class="blog-dis">
        <span>كشفت شركة سامسونج في الخارج بشكل رسمي عن هاتف </span>
        <span>SAMSUNG GALAXY M53 5G </span>
        <span>الجديد كليا والذي يعتبر ثالث هاتف ينطلق من الجيل الجديد من سلسلة الـ </span>
        <span>M</span>
        <span>المتوسطة</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
    <!-- ********************************************************************** -->
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog2.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>اطلاق هواتف </span>
        <span>HONOR X9 4G</span>
        <span>و</span>
        <span>HONOR X7</span>
        <span>بشكل رسمي</span>
      </h4>

      <p class="blog-dis">
        <span>أعلنت شركة هونر في ماليزيا بشكل رسمي عن تقديم هواتف جديدة من سلسلة الـ </span>
        <span> X</span>
        <span> المتوسطة حيث أطلقت الشركة</span>
        <span> HONOR X7</span>
        <span>والذي يأتي بفروقات بسيطة عن </span>
        <span> HONOR X8</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
    <!-- *************************************************************************** -->
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog3.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>هونر تطرح </span>
        <span>HONOR MAGIC 4 LITE </span>
        <span>بشكل رسمي في الخارج</span>
      </h4>

      <p class="blog-dis">
        <span>قامت شركة هونر في الخارج بشكل رسمي بالكشف عن هاتف </span>
        <span>HONOR MAGIC 4 LITE </span>
        <span>الجديد كليا حيث أعلنت الشركة عن مواصفاته الكاملة في فرنسا</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
    <!-- ******************************************************************************* -->
    <div class="blog">
      <img class="blog-pic" src="pages/img/blog1.png" alt="mobile pic">

      <h4 class="blog-manshit" >
        <span>كشف الستار عن </span>
        <span>SAMSUNG GALAXY M53 5G </span>
        <span>بشكل رسمي في الخارج </span>
      </h4>

      <p class="blog-dis">
        <span>كشفت شركة سامسونج في الخارج بشكل رسمي عن هاتف </span>
        <span>SAMSUNG GALAXY M53 5G </span>
        <span>الجديد كليا والذي يعتبر ثالث هاتف ينطلق من الجيل الجديد من سلسلة الـ </span>
        <span>M</span>
        <span>المتوسطة</span>
        <BR>
        <BR>
        <span class="admin-color">ادمن</span>- 12/4/2022
      </p>
      <div class="hover-button">
        <a class="button" href="#المدونة" >
          عرض المزيد
        </a>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="left">
    <form>
      <input class="search" type="search" placeholder="ابحث هنا">

      <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="for-scroll">
      <div class="categories">
        <div class="title">
          <h2>اظهر جميع الفئات</h2>
        </div>
        <h3 class="title-2">موبايلات & تابلت  (43)</h3>

        <h3>موبايل (12)</h3>

        <a href="#">
          <p>ابل (4)</p>
          <p>  هواوي (2)</p>
          <p> اونر (1)</p>
          <p>اوبو (3)</p>
          <p>شاومي (2)</p>
        </a>

        <h4>تابلت (23)</h4>

        <a href="#">
          <p>ابل (4)</p>
          <p> هواوي (2)</p>
          <p>  اوبو (3)</p>
          <p> شاومي (2)</p>
        </a>

        <h4>اكسسوارات (10)</h4>

        <a href="#">
          <p>جراب (4)</p>
          <p>سماعات (3)</p>
        </a>
      </div>
    </div>
  </div>
</section>

<div >
  <button class="more-box"><<</button>
  <button class="more-box">1</button>
  <button class="more-box">2</button>
  <button class="more-box">3</button>
  <button class="more-box">>></button>
</div>
</body>


</html>
