<!doctype html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/theme.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contact.css">
    <script src="https://kit.fontawesome.com/f2178052c7.js" crossorigin="anonymous"></script>
    <script src="js/themeStyle.js"></script>
    <link rel="stylesheet" href="css/responsive.css" />
    <title>Page Temp</title>
    <link rel="icon" href="img/logo-main.png"/>
</head>
<body>
<div class="header" style="direction: rtl;"></div>
<main>
    <div class="container1">
        <div class="content">


            <div class="right-side">

                <div class="topic-text"style="text-align:right;margin-bottom: 1rem; margin-top: 3rem;">تواصل معانا </div>
                <p style="text-align:right; font-size:1rem;margin-bottom: 1rem;">تقدر دلوقتي ترسلنا اقتراح او شكوه عن طريق البريد الالكتروني وهيتم الرد علي رسالتك باسرع ما يمكن</p>

                <form action="#"method="POST"name="form1">
                    <div class="input-box">
                        <input id="u_name" type="text" placeholder="  ادخل اسمك بالكامل (باللغه العربيه)"required dir="rtl"name="user">
                    </div>
                    <div class="input-box">
                        <input id="u_mail" type="text" placeholder="ادخل بريدك الالكتروني "required dir="rtl"name="mail">
                    </div>

                    <div class="input-box">
                        <input id="u_pass" type="text" placeholder="اكتب رسالتك"required dir="rtl"namr="mass">
                    </div>



                    <div class="input-box message-box">

                    </div>
                    <div class="button"onclick="checkFun()">
                        <input type="button" value="ارسال الرساله"  >
                    </div>
                </form>
            </div>
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic"  >العنوان</div>
                    <div class="text-one">Surkhet, NP12</div>
                    <div class="text-two">Birendranagar 06</div>
                </div>


                <div class="phone details">
                    <i class="fa-solid fa-phone"></i>
                    <div class="topic">التليفون</div>
                    <div class="text-one">+0098 9893 5647</div>
                    <div class="text-two">+0096 3434 5678</div>
                </div>


                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">الاميل</div>
                    <div class="text-one">abdallaelshamy@gmail.com</div>
                    <div class="text-two">info.abdallaelshamy@gmail.com</div>
                </div>
            </div>

        </div>
    </div>



</main>
<div class="footer" style="direction: rtl;"></div>
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script>
    function checkFun(){
        var u_name=document.getElementById("u_name").value;
        var u_mail=document.getElementById("u_mail").value;
        var u_pass=document.getElementById("u_pass").value;
        if ( u_name=="" &&  u_name=="" && u_pass== ""){
            alert("ادخل اسمك بالكامل وادخل البريد الالكتروني وادخل الرساله")
        }
        else if( u_name==""){
            alert("ادخل اسمك بالكامل ");
        }
        else if( u_mail==""){
            alert(" ادخل البريد الالكتروني");
        }
        else if(u_pass== ""){
            alert("   ادخل الرساله  ");
        }
        else{
            alert("تم ارسال الرساله بنجاح");
            location.reload();

        }

    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>