<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"
            integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw="
            crossorigin="anonymous"
    />
    <!-- fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600&display=swap"
            rel="stylesheet"
    />

    <!-- css assessts -->
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css" /> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/home1.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="icon" href="img/logo-main.png"/>
    <title>موقع دكان</title>
</head>

<body>
<!-- start [1] navbar -->
<div class="parent">
    <div class="top-bar">
        <div class="container-fluid">
            <div class="box">
                <div class="right-box">
                    <div class="item">
                        <span>20123456789+</span>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="item">
                        <span>example123@gmail.com</span>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="left-box">
                    <div class="item">
                        <span>تتبع شحنتك</span>
                        <i class="fa-solid fa-truck-plane"></i>
                    </div>
                    <div class="item">
                        <span>أماكن الفروع</span>
                        <i class="fa fa-location-dot" aria-hidden="true"></i>
                    </div>
                    <div class="features">
                        <div class="item">
                            <span>العربية</span>
                            <i
                                    class="fa-solid fa-sort-down abs"
                                    aria-hidden="true"
                            ></i>
                        </div>
                        <div class="item">
                            <i
                                    class="fa-solid fa-sort-down abs"
                                    aria-hidden="true"
                            ></i>

                            <span>EGP</span>
                            <i class="fa-solid fa-coins"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light nav2">
        <div class="container-fluid">
            <a class="navbar-brand" href="home1.html"
            ><img src="img/logo.png" alt="" />
                <span>دكان</span></a
            >
            <form class="d-flex">
                <input
                        class="form-control me-2"
                        type="search"
                        placeholder="ابحث هنا"
                        aria-label="Search"
                />
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
            <div class="nav-icon lol">
                <span><i class="fa fa-sliders" aria-hidden="true"></i></span>
                <span class="shopping"
                ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </span>
                <a href="login.html">
                    تسجيل
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
            </div>
            <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
            >
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="categories.html"
                        >جميع الفئات</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html"> الموضة</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">السوبر ماركت</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">العطور</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">موبايلات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">الالكترونيات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">الاجهزة المنزلية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">العاب الكترونية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">عروض اليوم</a>
                    </li>
                </ul>
                <div class="nav-icon">
                     <span
                     ><i class="fa fa-sliders" aria-hidden="true"></i
                     ></span>
                    <span class="shopping"
                    ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                     </span>
                    <a href="login.html">
                        تسجيل
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
</div>

<!-- start header[2] -->
<header class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="swiper-container parallax-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img-container one"></div>
                            <div class="container h-100">
                                <div class="row h-100">
                                    <div class="col-md-12">
                                        <div class="content">
                                            <span class="offer">أقوي العروض</span>
                                            <h1 class="title">
                                                تسوق في دكان واحسل علي خصم يصل الي 30%
                                                علي جميع المنتجات
                                            </h1>

                                            <span class="start">تبدأ من</span>
                                            <p class="description">
                                                <span>ج.م</span>
                                                <span>30</span>
                                            </p>

                                            <a href="search.html">اعرف أكتر</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img-container two"></div>
                            <div class="container h-100">
                                <div class="row h-100">
                                    <div class="col-md-12">
                                        <div class="content">
                                            <span class="offer">أقوي العروض</span>
                                            <h1 class="title">
                                                تسوق في دكان واحسل علي خصم يصل الي 30%
                                                علي جميع المنتجات
                                            </h1>

                                            <span class="start">تبدأ من</span>
                                            <p class="description">
                                                <span>ج.م</span>
                                                <span>30</span>
                                            </p>

                                            <a href="search.html">اعرف أكتر</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img-container three"></div>
                            <div class="container h-100">
                                <div class="row h-100">
                                    <div class="col-md-12">
                                        <div class="content">
                                            <span class="offer">أقوي العروض</span>
                                            <h1 class="title">
                                                تسوق في دكان واحسل علي خصم يصل الي 30%
                                                علي جميع المنتجات
                                            </h1>

                                            <span class="start">تبدأ من</span>
                                            <p class="description">
                                                <span>ج.م</span>
                                                <span>30</span>
                                            </p>
                                            <a href="search.html">اعرف أكتر</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider controls -->
                    <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <!-- pagination -->
                    <div class="swiper-pagination pagination-ctrl"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- start categories[3] -->

<section class="categories">
    <div class="container">
        <h2>الفئات</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3> موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="search.html">
                        <div class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </div>
                        <h3>موضة</h3>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- start offer[4] -->

<section class="offer section-padding">
    <div class="container">
        <div class="heading row">
            <div class="col-md-8">
                <div class="right">
                    <h2>عروض فلاش <i class="fa-solid fa-fire"></i></h2>
                    <div class="counter">
                        <div class="item">
                            <span>2</span>
                            <span>يوم</span>
                        </div>
                        <div class="item">
                            <span>13</span>
                            <span>ساعات</span>
                        </div>
                        <div class="item">
                            <span>27</span>
                            <span>دقيقة</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="left">
                    <a href="search.html"> عرض الكل </a>
                </div>
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="product.html">
                        <div class="first-ele">
                            <div class="image">
                                <img src="img/clock.png" alt="" />
                            </div>
                            <div class="content">
                                <h3>سماعات وايرليس</h3>
                                <p>
                                    <span>250</span>
                                    <span>ج.م</span>
                                    بدلا من 100
                                </p>
                                <div class="line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="product.html">
                        <div class="first-ele">
                            <div class="image">
                                <img src="img/shirt.png" alt="" />
                            </div>
                            <div class="content">
                                <h3>سماعات وايرليس</h3>
                                <p>
                                    <span>250</span>
                                    <span>ج.م</span>
                                    بدلا من 100
                                </p>
                                <div class="line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="product.html">
                        <div class="first-ele">
                            <div class="image">
                                <img src="img/almond.png" alt="" />
                            </div>
                            <div class="content">
                                <h3>سماعات وايرليس</h3>
                                <p>
                                    <span>250</span>
                                    <span>ج.م</span>
                                    بدلا من 100
                                </p>
                                <div class="line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="product.html">
                        <div class="first-ele">
                            <div class="image">
                                <img src="img/scooter.png" alt="" />
                            </div>
                            <div class="content">
                                <h3>سماعات وايرليس</h3>
                                <p>
                                    <span>250</span>
                                    <span>ج.م</span>
                                    بدلا من 100
                                </p>
                                <div class="line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="product.html">
                        <div class="first-ele">
                            <div class="image">
                                <img src="img/headphones2.png" alt="" />
                            </div>
                            <div class="content">
                                <h3>سماعات وايرليس</h3>
                                <p>
                                    <span>250</span>
                                    <span>ج.م</span>
                                    بدلا من 100
                                </p>
                                <div class="line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>
<!-- start save[5] -->
<section class="save section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="right">
                    <h2>قسم توفير رمضان</h2>
                    <p>
                        وفر دلوقتي ولفترة محدودة مع دكان واشتري اقوي العروض
                        الرمضانية بخصومات رهيبة علي جميع السلع
                    </p>
                    <div class="counter">
                        <div class="item">
                            <span>2</span>
                            <span>يوم</span>
                        </div>
                        <div class="item">
                            <span>13</span>
                            <span>ساعات</span>
                        </div>
                        <div class="item">
                            <span>27</span>
                            <span>دقيقة</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 save-parent">
                <div class="container">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="product.html">
                                    <div class="first-ele">
                                        <div class="image">
                                            <img
                                                    src="img/camera.png"
                                                    alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h3>الكترونيات</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="product.html">
                                    <div class="first-ele">
                                        <div class="image">
                                            <img
                                                    src="img/soybean.png"
                                                    alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h3>الأغذية والمشروبات</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="product.html">
                                    <div class="first-ele">
                                        <div class="image">
                                            <img
                                                    src="img/towel.png"
                                                    alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h3>العناية الشخصية</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="product.html">
                                    <div class="first-ele">
                                        <div class="image">
                                            <img
                                                    src="img/scooter.png"
                                                    alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h3>منتجات الاطفال</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start news -->
<section class="section-padding news">
    <div class="container">
        <div class="heading row">
            <div class="col-8">
                <div class="right">
                    <h2>
                        عروض فلاش
                        <i class="fa-solid fa-square-plus"></i>
                    </h2>
                </div>
            </div>

            <div class="col-4">
                <div class="left">
                    <a href="search.html"> عرض الكل </a>
                </div>
            </div>
        </div>
        <div class="news-parent">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/monitor.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/tripod.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/radio.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img
                                            src="img/refrigerator.png"
                                            alt=""
                                    />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030.33 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/scanner1.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/camera.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="product.html">
                            <div class="first-ele">
                                <div class="image">
                                    <img src="img/tripod2.png" alt="" />
                                </div>
                                <div class="content">
                                    <div class="price">
                                        <span> 4030 </span>
                                        <span> ج.م </span>
                                    </div>
                                    <p>
                                        حذاء رياضي عصري متاح بجميع الالوان للرجال -
                                        8741
                                    </p>
                                    <button>أضف الي العربة</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- start contact -->
<section class="contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="info">
                    <div class="icon">
                        <i class="fa-solid fa-comments"></i>
                    </div>
                    <div class="content">
                        <h3>تواصل معنا دلوقتي</h3>
                        <p>
                            تقدر دلوقتي ترسلنا اقتراح او شكوة عن طريق البريد
                            الالكتروني وهيتم الرد عليك بأسرع وقت ممكن
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <form action="">
                    <input
                            type="text"
                            placeholder="ادخل بريدك الالكتروني هنا"
                    />
                    <textarea placeholder="اكتب رسالتك....... "></textarea>
                    <input type="submit" value="أرسل الرسالة" />
                </form>
            </div>
        </div>
    </div>
</section>

<!-- start footer[final] -->

<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <div class="brand">
                        <img src="img/logo.png" alt="" />
                        <span> دكان </span>
                    </div>
                    <p>
                        موقع دكان للبيع و الشراء اون لاين تصميم فريق طلاب كلية
                        حاسبات وذكاء اصطناعي جامعة حلوان
                    </p>
                    <div class="icons">
                        <span><i class="fa fa-facebook"></i></span>
                        <span><i class="fa fa-youtube"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-twitter"></i></span>
                    </div>
                </div>
            </div>
<div class="col-lg-3 col-md-6">
                  <div class="box-two">
                     <h3>الفئات</h3>
                     <ul>
                        <li><a href="search.html">الالكترونيات</a></li>
                        <li><a href="search.html">موبايلات</a></li>
                        <li><a href="search.html">العطور</a></li>
                        <li><a href="search.html">الموضة</a></li>
                        <li><a href="search.html">عرض اليوم</a></li>
                        <li><a href="search.html">العاب الكترونية</a></li>
                        <li><a href="search.html">أجهزة كمبيوتر</a></li>
                        <li><a href="search.html">مستلزمات منزلية</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="box-two">
                     <h3>الصفحات</h3>
                   <ul>
                        <li><a href="about.html">عن دكان</a></li>
                        <li><a href="faq.html">سياسات خصوصية</a></li>
                        <li><a href="blogs.html">المدونة</a></li>
                        <li><a href="contact.html">تواصل معنا </a></li>
                        <li><a href="login.html">تسجيل بائع</a></li>
                        <li><a href="profile.html">الصفحة الشخصية</a></li>
                        <li><a href="wishlist.html">المفضلة</a></li>
                        <li><a href="cart.html">العربة</a></li>
                     </ul>
                  </div>
               </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <h3>يمكنك التواصل مع خدمة عملائنا</h3>
                    <p>
                        يمكنك التواصل مع خدمه العملاء بأكثر من طريقة لحل مشكلتك
                        او تلقي أقتراحك
                    </p>
                    <div class="contact-us">
                        <div class="content">
                            <p>تواصل على الخط الساخن</p>
                            <p>20123456789+</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-headphones-simple"></i>
                        </div>
                    </div>
                    <a href="#">
                        <div class="download">
                            <div>
                                <span> حمل التطبيق </span>
                                <span>google play</span>
                            </div>
                            <div>
                                <i class="fa-brands fa-google-play"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right">
    <p>حقوق الطبع والنشر © لعام 2022 محفوظة لموقع <span>دكان</span></p>
</div>

<!-- javascript assessts -->
<script src="js/jquery-3.0.0.min.js"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>
<script
        src="https://kit.fontawesome.com/f913381eb8.js"
        crossorigin="anonymous"
></script>
<!-- <script
          src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"
          integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4="
          crossorigin="anonymous"
          ></script> -->

<!-- bootstrap  libs -->
<script src="js/swiper-bundle.min.js"></script>

<!--main-script-->
<script src="js/main.js"></script>
</body>
</html>
