
body{
    background: white;
}


.container1{
  /* border: 2px solid black; */
  width: 100%;
  height: 1680px;
}

.up{
  /* border: 2px solid black; */
  height: 50%;
  width: 100%;
}

.main1{
  text-align: right;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 30px 50px;
}

.bord1{
  margin-top: 40px;
  width: 1300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}
.cont1{
  text-align: center;
  color: var(--light-text);
}

.hd1{
  margin-bottom: 10px;
  color: black;
}

.down{
  /* border: 2px solid black; */
  height: 50%;
  width: 100%;
}

.cont2{
  text-align: center;
  color: var(--light-text);
  margin-bottom: 40px;
}

.contd{
  /* border: 2px solid red; */
  width: 1884px;
  height: 325px;
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bord2{
  /* border: 2px solid black; */
  width: 292px;
  height: 319px;
  margin-left: 150px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.bord2:hover{
  transform:  scale(1.03);
}

.insbord21{
  /* border: 2px solid white; */
  background-color: var(--bg-body);
  width: 288px;
  height: 132px;
  margin-top: 178px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-align: center;
  padding-top: 51px;
}

.insbord22{
  /* border: 2px solid yellow; */
  width: 288px;
  height: 208px;
  margin-top: -305px;
  background-color: white;
  border-radius: 30px;
  background-color: black;
  background-position: center;
  background-repeat: none;
  background-size:cover;
  box-shadow: var(--shadow);
}

.co1{
  font-size: 20px;
  color: var(--light-text);
  font-weight: 600;
}

.co2{
  color: var(--color-main);
  font-size: 16px;
}
