
body {
    background: #ffffff;
    overflow-x: hidden;


}

/*//////////////////////////////////start my .header11  /////////////////////////////////////*/
.header11 {
    position: relative;
}

.header11 .my-header {
    position: absolute;
    right: 148px;
    top: 82px;
    display: -webkit-inline-flex;
    direction: rtl;
}

.header11 .my-header .out {
    font-size: 16px;
    font-weight: bold;
    color: var(--light-text);
}

.header11 .my-header .in {
    color: var(--color-main);
    font-size: 16px;
    font-weight: bold;
}

/*////////////////////////////////////////////////////end my .header11 ////////////////////////////// */


/*//////////////////////////////// start main /////////////////////////////////////*/
main {
    position: relative;
}

.container1 {
    margin-left: 220px;
    width: 68%;
    padding: 40px;
}

.container1 .title {
    margin-top: 23px;
    margin-left: 122px;
    margin-bottom: 44px;
    text-align: center;
    margin-right: 141px;

}

.container1 .faq {
    direction: rtl;
    margin-right: 76px;
    margin-bottom: 2px;
    margin-top: -30px;
}

.container1 .faq .parent-tab label p {
    font-size: 20px;
    color: #5f5f5f;
    font-weight: 500;
}

.container1 .faq .parent-tab label {
    position: relative;
}



.container1 .title p {
    color: #6d6d6d;
}

.container1 hr {
    color: #e1e1e1;
    border-width: 1px;
}

.container1 .faq .content {
    max-height: 0px;
    overflow: hidden;
}

.container1 .faq input {
    display: none;
    transition: all 0.4s ease;
}

.container1 .faq .parent-tab input:checked~.content {
    max-height: 100vh;
}

.container1 .faq .parent-tab input:checked~label .icon i:before {
    content: "\f068";
}

.container1 .faq .parent-tab .icon {
    display: block;
    width: 30px;
    height: 28px;
    right: 859px;
    position: absolute;
    bottom: -11px;
}

.container1 .faq .parent-tab .icon i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-main);
    font-size: 20px;
}

.container1 .parent-tab .content p {
    margin: 13px 20px 10px 44px;
    padding-left: 90px;
}

.container1 .parent-tab .content span {
    color: var(--color-main);
}

.container1 .faq .parent-tab .content a {
    color: var(--color-main);
}

.container1 .faq .parent-tab .content a:hover {
    color: blue;
}

/*/////////////////////////////////// end main ///////////////////////////////////*/
