::-moz-selection {
    background-color: var(--color-main);
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {

    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-padding {
    padding: 65px 0;
}

.bg-gray {
    background: #f6f6f6;
}
.ontop {
    position: relative;
    z-index: 4;
}

.position-re {
    position: relative;
}

.full-width {
    width: 100% !important;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.offer .swiper-slide:hover img,
.save .swiper-slide:hover img,
.news .swiper-slide:hover img {
    transform: rotate(10deg);
}

.offer .swiper-slide,
.save .swiper-slide,
.news .swiper-slide {
    transition: 0.3s all ease;
}

.offer .swiper-slide:hover,
.save .swiper-slide:hover,
.news .swiper-slide:hover {
    /* box-shadow: 0 2px 10px var(--light-text); */
    background-color: var(--color-secondary);
}
.offer .swiper-slide:hover h3,
.save .swiper-slide:hover h3,
.news .swiper-slide:hover p {
    color: #fff;
}
.news button:hover {
    color: #fff !important;
    background-color: var(--color-main);
}
/*----------////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// start home page ///////////////////////////////////////////



************************************************************************************************************************************************************************** [01-Start Navbar]**************************************************************************************************************************************************************************/
.parent {
    width: 100%;
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    top: 0;
}

.top-bar {
    background-color: var(--color-main);
    color: #fff;
    padding: 5px 15px;
}
.top-bar .box {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 400;
}
.top-bar .box .right-box,
.top-bar .box .left-box {
    display: flex;
}
.top-bar .box .right-box .item,
.top-bar .box .left-box .item {
    margin-left: 30px;
}
.top-bar .box .right-box .item i,
.top-bar .box .left-box .item i {
    margin-right: 5px;
    font-size: 14px;
}

.top-bar .box .left-box .features {
    display: flex;
    padding-right: 30px;
    border-right: 1px solid #fff;
}
.top-bar .box .left-box .features .item {
    position: relative;
    padding-right: 20px;
}
.top-bar .box .left-box .features .abs {
    position: absolute;
    bottom: 5px;
    right: 0;
}
nav {
    border-bottom: 10px solid var(--bg-body);

    padding-bottom: 0 !important;
}
.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    outline: none;
}
.navbar-toggler i {
    color: var(--color-main);
    font-size: 28px;
}

.container-fluid {
    flex-wrap: wrap !important;
    /* flex-direction: row-reverse; */
}
.navbar-collapse {
    min-width: 100%;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: var(--color-main);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--light-text);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-main);
}
.navbar-light .navbar-nav .nav-link {
    margin-left: 20px;
    font-size: 16px;
}
.navbar-brand,
.navbar-brand:hover {
    display: flex;
}

.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
    color: var(--light-text);
}
nav form {
    width: 60%;
}
nav form input {
    border: none !important;
    background-color: var(--bg-body) !important;
    border-radius: 10px !important;
}

nav form input:focus {
    box-shadow: 0 0 10px var(--bg-body) !important;
}
nav .nav-icon {
    color: var(--light-text);
    font-size: 18px;
}
nav .nav-icon span {
    margin-left: 20px;
    cursor: pointer;
}
nav .nav-icon span i:hover {
    color: var(--color-main);
}
nav .nav-icon .shopping {
    position: relative;
}
nav .nav-icon .shopping::after {
    content: "3";
    position: absolute;
    right: -8px;
    top: -2px;
    /* width: 10px;
    height: 10px; */
    padding: 0 6px;
    box-shadow: 0 0 5px var(--color-main);
    color: var(--bg-body);
    background-color: var(--color-main);
    font-size: 9px;
    border-radius: 50%;
}
nav .nav-icon a {
    position: relative;
    background-color: var(--color-main);
    color: var(--bg-body);
    padding: 5px 25px 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 8px var(--color-main);
    font-weight: 600;
}
nav .nav-icon a:hover {
    background-color: var(--color-secondary);
}
nav .nav-icon a i {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 20px;
}
.nav2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


footer {
    padding: 40px 0;
    border-top: 0.25rem solid var(--bg-body);
}
footer .brand {
    width: 100px;
    display: flex;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-main);
}
.dokan{
    color: var(--bold-text);
    font-weight: 700;
}

footer .icons {
    display: flex;
    margin-top: 20px;
}
footer .icons span {
    background-color: var(--bg-body);
    color: var(--color-main);
    font-size: 22px;
    padding: 0 15px;
    border-radius: 10px;
    margin-left: 10px;
}
footer .box-two {
    padding: 0 15px;
}

footer .contact-us {
    display: flex;
}

footer .contact-us p:last-child {
    color: var(--color-main);
}
footer .contact-us i {
    font-size: 58px;
    color: var(--bg-body);
    margin-right: 15px;
}

.copy-right {
    border: 5px solid var(--bg-body);
    padding: 20px;
}
.copy-right p {
    color: var(--light-text);
    text-align: center;
    font-size: 18px;
}
.copy-right p span {
    color: var(--color-main);
}
